version: "3.9"

services:
  redis:
    image: redis:7.4.7
    container_name: Redis-server
    restart: always 
    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data

  postgres:
    image: postgres:16
    container_name: postgres-container

    ports:
      - "5432:5432"

    environment:
        POSTGRES_USER: root
        POSTGRES_PASSWORD: root
        POSTGRES_DB: prolink

    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  redis_data: